.cart-wrapper {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 40%;

    img {
        width: 215px;
    }

    h4 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
}