<div class="about-wrapper">
    <div class="flex">
        <div class="pad25 width-wrap">
            <img src="http://localhost:1234/FoodringScreen.324f0d82.png?1679914870721" alt="">
        </div>
        <div class="pad25 width-wrap">
            <h2>Foodring - Discover the best food & drinks</h2>
            <p>Foodring is an online and mobile food ordering system which we have developed for restaurant owners and
                food lovers.
                Through Foodring we are helping customers to discover the best restaurants in city. If you are
                restaurant owner, you can
                easily register your restaurant and upload restaurant menu to start receiving online orders through this
                fast growing
                portal without any cost.</p>
        </div>
    </div>
    <div class="flex">
        <div class="pad25 width-wrap">
            <h2>Vision</h2>
            <p>For food lovers who want to order food from local restaurants online, the Food Ordering System will be an
                Internet-based
                application that will accept individual or group meal orders, process payments, and trigger delivery of
                the prepared
                meals to a designated location. For Restaurant owner who wants to take and grow their business online,
                with low budget
                can start their online restaurant business and get orders from many more customers.</p>
        </div>
        <div class="pad25">
            <img src="http://localhost:1234/delivery_online.3a7ef07a.png?1679914870721" alt="">
        </div>
    </div>
    <!-- <mat-grid-list cols="8" rowHeight="100px">
        <mat-grid-tile colspan="4" rowspan="1">
            
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
            
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
            
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
            
        </mat-grid-tile>
    </mat-grid-list> -->
</div>