<div class="container">
    <nav class="flex-box">
        <span class="logo">Foodring</span>
        <ul class="list">
            <li routerLink="/">
                <mat-icon>percent</mat-icon>Offers
            </li>
            <li routerLink="/about">
                <mat-icon>info</mat-icon>About
            </li>
            <li routerLink="/author">
                <mat-icon>account_circle</mat-icon>Author
            </li>
            <li routerLink="/cart">Cart(0)</li>
        </ul>
    </nav>
</div>