/* here's what you're looking for B-) */
// mat-nav-list.list-horizontal {
//     padding: 0;

//     .mat-list-item {
//         display: inline-block;
//         height: auto;
//         width: auto;
//     }
// }

// .mat-toolbar {
//     background: #000;
//     color: #fff;
// }

.container {
    background: black;
    color: white;
    padding: 0 50px;

    .flex-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-family: Lobster, cursive;
            font-size: 3rem;
            font-weight: 700;
            cursor: pointer;
        }

        .list {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            padding: 30px;
            font-size: 20px;

            li {
                margin: 20px;
                cursor: pointer;
            }
        }
    }
}