<div class="restro-container">
    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/cb1h7bmdd9hsbxvlix8f"
        alt="">
    <h5 class="name">Shree Gurukripa</h5>
    <p class="details">North Indian, Thalis, South Indian, Desserts, Chinese, Indian, Jain, Fast Food, Beverages</p>

    <div class="rating-price-wrap">
        <div class="rating">
            ★ &nbsp;<span>3.8</span>
        </div>
        <div class="lbl">25 Mins</div>
        <div class="lbl">250 for two</div>
    </div>
</div>